# Using Hugging Face Datasets

References:
- "Natural Language Processing with Transformers" by Lewis Tunstall, Leandro von Werra and Thomas Wolf.

## Dependencies

In [7]:
from datasets import list_datasets, load_dataset

## First look

In [2]:
all_datasets = list_datasets()

C:\Users\bdl19\AppData\Local\Temp\ipykernel_21272\374882858.py:1: FutureWarning: list_datasets is deprecated and will be removed in the next major version of datasets. Use 'huggingface_hub.list_datasets' instead.
  all_datasets = list_datasets()

In [3]:
f"There are {len(all_datasets)} datasets currentyl available on the hub"

'There are 170620 datasets currentyl available on the hub'

In [6]:
print(f"The first 10 are:")
for d in all_datasets[:10]:
    print(f"- {d}")

The first 10 are:
- amirveyseh/acronym_identification
- ade-benchmark-corpus/ade_corpus_v2
- UCLNLP/adversarial_qa
- Yale-LILY/aeslc
- nwu-ctext/afrikaans_ner_corpus
- fancyzhx/ag_news
- allenai/ai2_arc
- google/air_dialogue
- komari6/ajgt_twitter_ar
- legacy-datasets/allegro_reviews

## Loading a dataset

In [9]:
emotions = load_dataset("emotion", trust_remote_code=True)

Downloading data: 100%|██████████| 592k/592k [00:00<00:00, 1.01MB/s]
Downloading data: 100%|██████████| 74.0k/74.0k [00:00<00:00, 467kB/s]
Downloading data: 100%|██████████| 74.9k/74.9k [00:00<00:00, 477kB/s]
Generating train split: 100%|██████████| 16000/16000 [00:00<00:00, 77895.80 examples/s]
Generating validation split: 100%|██████████| 2000/2000 [00:00<00:00, 68964.28 examples/s]
Generating test split: 100%|██████████| 2000/2000 [00:00<00:00, 68959.18 examples/s]

first look into emotions dataset

In [10]:
emotions

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 16000
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 2000
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 2000
    })
})

Extract the train set specifically

In [12]:
train_ds = emotions["train"]
train_ds

Dataset({
    features: ['text', 'label'],
    num_rows: 16000
})

Access to a single example

In [14]:
train_ds[0]

{'text': 'i didnt feel humiliated', 'label': 0}

Format dataset to pandas

In [15]:
emotions.set_format(type="pandas")
df = emotions["train"][:]
df.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

Convert label integer into string

In [16]:
def label_int2str(row):
    return emotions["train"].features["label"].int2str(row)

df["label_name"] = df["label"].apply(label_int2str)
df.head()

                                                text  label label_name
0                            i didnt feel humiliated      0    sadness
1  i can go from feeling so hopeless to so damned...      0    sadness
2   im grabbing a minute to post i feel greedy wrong      3      anger
3  i am ever feeling nostalgic about the fireplac...      2       love
4                               i am feeling grouchy      3      anger